.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Board container background styling */
.board-container {
  background: #16163d;          /* dark modern background */
  padding: 30px;
  border-radius: 12px;
  width: 1200px;
  height: 1200px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
}

/* Grid */
.board {
  display: grid;
  gap: 22px;

  /* fallback */
  grid-template-columns: repeat(10, 14px);

  /* dynamic size */
  grid-template-columns: repeat(var(--size), 100px);
}
